<div class='container'>
        <h5 class='title'>Everis | SAMM 2.0 SCORE - BANCO PICHINCHA</h5>
        <div id="viz_container">
        <div id='mid_top_line'></div>
        <div id='mid_right_line'></div>
        <div id='mid_bottom_line'></div>
        <div id='mid_left_line'></div>
        <app-rtc></app-rtc>
        </div>
        </div>
        